@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/** 
* main page
*/
.main {
  font-family: "Epilogue", sans-serif;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 1.5em;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-nav {
  position: absolute;
  right: 10%;
  top: 2em;
  text-align: right;
}

.main-nav__link {
  margin-left: 2em;
  color: #222;
  font-weight: 500;
  font-size: 1.3em;
  text-decoration: none;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  position: relative;
}

.main-nav__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: -5px;
  left: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.main-nav__link:hover::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.main-header {
  height: calc(100vh - 10em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-header__hero {
  text-align: right;
  margin: auto;
}

.main-header__hero-title {
  font-size: 8em;
  font-weight: 700;
  white-space: nowrap;
  margin: 0;
  color: #222;
}

@media only screen and (max-width: 900px) {
  .main-header__hero-title {
    font-size: 6em;
  }
}

@media only screen and (max-width: 600px) {
  .main-header__hero-title {
    font-size: 4em;
  }
}

@media only screen and (max-width: 400px) {
  .main-header__hero-title {
    font-size: 3em;
  }
}

.main-header__hero-subtitle {
  font-size: 1.7em;
  margin: 0;
  color: #222;
}

.main-projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: calc(80vh - 10em);
  max-width: 150ch;
  gap: 2rem 6rem;
  margin: 0px auto;
  padding: 0px;
  list-style: none;
}

.main-projects__item-title {
  font-weight: 700;
  font-size: 1.7em;
  margin: 0;
  color: #222;
  text-decoration: none;
  position: relative;
}

.main-projects__item-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: -7px;
  left: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.main-projects__item-title:hover::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.main-projects__item-text {
  font-size: 1.2em;
}

.main-projects__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-projects__item-info-text {
  color: #fff;
  font-weight: 700;
  background-color: #222;
  padding: 0.6em 0.6em 0.4em;
  margin-right: 0.5rem;
  border-radius: 0.5em;
}

/** 
* about modal
*/
.about {
  font-family: "Epilogue", sans-serif;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 1.5em;
  position: relative;
  display: none;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about__back-btn {
  margin: 2em 0;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.about__back-btn a {
  color: #222;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  font-size: 1.3em;
  top: 3px;
  position: relative;
}

.about__back-btn svg {
  position: absolute;
  left: -1.5em;
  width: 1.25em;
  -webkit-transition: left 0.25s, opacity 0.25s;
  transition: left 0.25s, opacity 0.25s;
  fill: #222;
  font-size: 1.3em;
}

.about__back-btn:hover svg {
  left: -1.7em;
}

.about__back-btn a::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 3px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: -3px;
  left: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.about__back-btn a:hover::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.about__content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about__content-image img {
  width: 80%;
  max-height: 1000px;
  border: 5px solid #222;
  border-radius: 25px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 900px) {
  .about__content-image img {
    width: 100%;
    max-height: 500px;
  }
}

.about__content-title {
  font-size: 7em;
  font-weight: 700;
  margin: 0;
  width: 80%;
  margin-bottom: 25px;
  color: #222;
}

@media only screen and (max-width: 900px) {
  .about__content-title {
    width: 100%;
    font-size: 6em;
  }
}

@media only screen and (max-width: 600px) {
  .about__content-title {
    font-size: 4em;
  }
}

@media only screen and (max-width: 400px) {
  .about__content-title {
    font-size: 3em;
  }
}

.about__content-text {
  font-size: 1.5em;
  line-height: 1.6em;
  width: 80%;
  margin: 0;
  color: #222;
  margin-bottom: 25px;
}

@media only screen and (max-width: 900px) {
  .about__content-text {
    width: 100%;
  }
}

.about__content-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0;
}

.about__content-icons-link {
  margin: 0 15px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.about__content-icons-link.linked-in {
  background-image: url("/assets/icons/linked_in.svg");
}

.about__content-icons-link.github {
  background-image: url("/assets/icons/github.svg");
}

.about__content-icons-link.email {
  background-image: url("/assets/icons/email.svg");
}
/*# sourceMappingURL=index.css.map */